@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bungee+Tint&family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* 

The following fonts are available for you guys to use within your OWN css files:

-- For font weight: Use values from 100 - 1000
font-family: "DM Sans", system-ui;

-- For font weight: Use values from 100 - 800
font-family: "Anek Devanagari", system-ui;

-- For font weight: Use values from 400 - 700
font-family: "Cabin", sans-serif;

*/

.App,
body {
    background: radial-gradient(
        circle at 10% 20%,
        rgb(30, 40, 50) 0%,
        rgb(5, 5, 5) 85%
    );
    min-height: 100vh;
    color: #c0c0c0;
}

.main-containers {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 4rem 0;
}
