* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lp-mv-poster {
    display: inline-flex;
    width: 250px;
    margin-right: 16px;
}

.lp-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-scroll {
    border: 1px solid #c0c0c0;
    position: relative;
    display: flex;
    width: 1350px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        90deg,
        transparent,
        #000 25%,
        #000 75%,
        transparent
    );
}

.lp-scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}

.lp-main-h1 {
    margin-top: 3rem;
    margin-bottom: -0.5rem;
    font-family: 'Metropolis', system-ui;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -3.5px;
    color: #d52b1e;
    display: flex;
    justify-content: center;
}

.lp-main-subtitle {
    font-family: 'Metropolis', system-ui;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: #c72c3b;
    margin-bottom: 1.5rem;
}

.lp-main-descrip {
    font-family: 'DM Sans', system-ui;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #fff;
    max-width: 650px;
    margin-bottom: 2rem;
    text-align: center;
}

.lp-main-button {
    font-family: 'DM Sans', system-ui;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    border-radius: 2rem;
    padding: 1.2rem 2.7rem;
    background-color: #c0c0c0;
    transition: transform 0.1s ease-in, padding 0.1s ease-in;
    margin-bottom: 4rem;
}

.lp-main-button:hover {
    transform: scale(0.95);
}

/* HERO STILL SLIDE (Only shows when there are less than 20 movies in DB */

.hero-still-container {
    border: 1px solid #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    gap: 1rem;
    -webkit-mask-image: linear-gradient(
        90deg,
        transparent,
        #000 25%,
        #000 75%,
        transparent
    );
}

.hero-still-container div {
    white-space: nowrap;
}

.hero-still-poster {
    display: inline-flex;
    width: 200px;
}
