/* Movies in our Database (MovieList) */

.mv-card {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.mv-card:hover {
    box-shadow: 0 0 0 2px #c0c0c0;
    transition: 0.3s all;
}

.mv-card-options {
    display: none;
}

.mv-card:hover .mv-card-options {
    background: black;
    position: absolute;
    bottom: 0;
    right: 3.5rem;
    display: flex;
    width: 150px;
    margin-bottom: 1rem;
    justify-content: space-around;
}

/* Movies Search (MovieSearch) */

.mv-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mv-search-card img {
    display: block;
    height: auto;
    filter: none;
    overflow: hidden;
}

.mv-search-card {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.mv-search-card:hover img {
    filter: none;
}

.mv-search-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.mv-search-card:hover::before {
    opacity: 1;
    border: 2px solid #c0c0c0;
    border-radius: 8px;
}

.overlay {
    display: none;
    font-family: 'DM Sans', system-ui;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 10px;
}

.mv-search-card:hover .overlay {
    display: block;
    /* border: 1px solid white; */
    z-index: 3;
    transition: 0.3s all;
}

.overlay > i {
    margin-bottom: 2rem;
}
